<!-- {% load i18n %} -->
<!-- {% load static %} -->
<!doctype html>
<html>
	<head>
		<meta charset=utf-8>
		<meta name=description content="">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<title>Just a test</title>
		<link href="{% static 'comments/css/comments.css' %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="{% static 'comments/js/comments.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
		<script src="{% static 'comments/js/commentactions.js' %}"></script>
		
	</head>
	<body>
		<div id="comments-container"></div>
		<script>
		window.commentCount=0;
		var refreshAction = function refreshAction() {
			console.log("initcomments");
			initComments('{{cf_url}}','{{cf_auth}}','{{current_user_id}}','{{icon_url}}', window.commentCount, refreshAction);
		}
		function commentRefreshCounts(threadId) {
			if (window.location.pathname.indexOf(threadId) !== -1) {
    		console.log('loop ' + threadId);
    		$.post({
        		url: '{{cf_url}}' + '/api/get_comment_count/',
        		data: {cf_auth: '{{cf_auth}}'},
        		success: function (result) {
            	remoteCount = Number(result['commentCount']);
            	console.log("counts " + window.commentCount.toString() + ", " + remoteCount.toString());
            	if ( window.commentCount == 0 || window.commentCount > remoteCount ) { window.commentCount = remoteCount; }
            	if ( remoteCount > window.commentCount ) {
            		$('.long-btn').show();
        		}
        		},
        		complete: function () {
            	setTimeout(commentRefreshCounts, 6000, threadId);
        		},
    		});
			}
		}
		$( document ).ready(function() {
    		refreshAction();
    		commentRefreshCounts('comments');
 		});
		</script>
		
	</body>
</html>

